{% extends "base.html" %}
{% block content %}
  <h1>weapons</h1>
  {% if weapon_list %}
  <div class="card-group">
    
    {% for weapon in weapon_list %}
    <div class="row">
    <div class="card" style="width:200px">
      <img src="{{ weapon.image.url }}" class="card-img-top" style="width:150px" alt="weapon"/>
      <div class="card-body">
        <h5 class="card-title">{{ weapon.name }} {{ weapon.id }}</h5>
        <p class="card-text">
          {{ weapon.description }}
        </p>
        <p class="card-text">
          <input class="form-check-input" type="checkbox" name='weapon_checkbox' value="{{ weapon.id }}" id="weapon">
          <label class="form-check-label" for="weapon">Compare</label>
        </p>
      </div>
    </div>
        </p>
      </div>
    {% endfor %}
  </ul>
  {% else %}
    <p>List is empty</p>
  {% endif %}
</div>  

</div>

{% endblock content %}