{% extends "base.html" %}
{% block content %}
  <h1>weapons</h1>
  {% if weapon_list %}
  <div class="card-group">
  {% for weapon in weapon_list %}
    <div class="card">
      <img src="{{ weapon.image.url }}" class="card-img-top" alt="weapon"/>
      <div class="card-body">
        <h5 class="card-title">{{ weapon.name }}</h5>
        <p class="card-text">
          {{ weapon.description }}
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
        </p>
      </div>
    {% endfor %}
  </ul>
  {% else %}
    <p>List is empty</p>
  {% endif %}
</div>       
{% endblock content %}