{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if weapons %}
<div class = "container">
<div class="card-deck">
  {% for weapon in weapons %}
  <div class="row">
    <div class="card" style="width:200px">
      <img src="{{ weapon.image.url }}" class="card-img-top" style="width:150px" alt="weapon"/>
      <img src='data:image/png;base64,{{ weapon.get_seaborn }}'/>
      <div class="card-body">
        <h5 class="card-title">{{ weapon.name }}</h5>
        <p class="card-text">
          {{ weapon.description }}
        
        </p>
        <p class="card-text">
          <a  href="{% url 'bushka_site:weapon_detail' weapon.id %}" class="btn btn-sm btn-primary">More</a>
        </p>
      </div>
    </div>
        </p>
      </div>
    {% endfor %}
  </ul>
  {% else %}
    <p>List is empty</p>
  {% endif %}
</div>  
</div>
</div>


{% endblock content %}