{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container py-3">
    <li>
        <a {{ weapon.name }}</a> 
        
    </li>
    <h1>{{ weapon.name }}</h1>
    <a><h2>{{ weapon.description }}</h2></a>
    <img src='data:image/png;base64,{{ show_recoil }}'/>
    

    {% if weapon.image %}
    <img style="max-width: 400px;" class="img-fluid img-thumbnail float-right ml-3" src="{{ weapon.image.url }}">
{% else %}
    <img style="max-width: 400px;" class="img-fluid img-thumbnail float-right ml-3" src="{% static 'bushka_site/img/LaimisLaimukas.jpg' %}">
{% endif %}
{% endblock content %}
